<div style="height: 100vh; overflow: hidden; display: block; background-color:#f5f6fb">
  <div class="header">장날 365</div>
  <div class="side-nav">
    <nav>
      <ul>
        <li class="side-nav-button active"><a href="#">Home(배송 리스트)</a></li>
        <li class="side-nav-button"><a href="#">시장/상점 관리</a></li>
        <li class="side-nav-button"><a href="#">상품등록/수정</a></li>
        <li class="side-nav-button"><a href="#">오늘의 밥상</a></li>
        <li class="side-nav-button"><a href="#">정산관리</a></li>
        <li class="side-nav-button"><a href="#">이벤트</a></li>
        <li class="side-nav-button"><a href="#">공지사항</a></li>
      </ul>
    </nav>
  </div>
  <router-outlet></router-outlet>
</div>
